<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <div class="header">
      <div class="title-text">
        <a href="http://www.seattletimes.com"><img class="logo" src="./assets/st-logo.png"></a>
        <div class="subhed">A Seattle Times opinion project</div>
        <div class="title">The<br>Invisible<br>Children</div>
        <div class="subhed subtitle">Young and homeless</div>
      </div>
      <div class="wrapper"><img class="splash" src="./assets/homeless_a.jpg"></div>
    </div>

    <main>
      <div class="intro">Despite our booming economy, homelessness is on the rise. Especially troubling is the number of youths living on the street. How did they end up there, and what can we do to help them? This Opinion project looks in depth at these issues and proposes solutions.</div>

      <div id="one"><%= t.include("./_one.html") %></div>
      <div id="two"><%= t.include("./_two.html") %></div>
      <div id="three"><%= t.include("./_three.html") %></div>

      <div class="credits">
        <div class="subhed">Project credits</div>
        <div>Writer: Jonathan Martin</div>
        <div>Editors: Kate Riley and Mark Higgins</div> 
        <div>Producers: Nikolaj Lasbo and Caitlin Moran</div>
      </div>
    </main>

    <div class="copyright">Copyright &copy; 2016 The Seattle Times</div>

    <footer>
      <a class="logo" href="http://www.seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
    </footer>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
